

:root {
	--grey: #4f5560;
	--white: #fff;
	
}

@font-face {
	font-family: 'Museo Sans Rounded 100';
	src: url(fonts/MuseoSansRounded-100.eot);
	src: url(fonts/MuseoSansRounded-100.eot?#iefix) format('embedded-opentype'),
		url(fonts/MuseoSansRounded-100.woff2) format('woff2'),
		url(fonts/MuseoSansRounded-100.woff) format('woff'),
		url(fonts/MuseoSansRounded-100.ttf) format('truetype');
	font-weight: 200;
	font-style: normal;
}


* {
	padding: 0;
	margin: 0;
	border: 0;
	outline: none;
	box-sizing: border-box;
}

img {
	max-width: 100%;
	height: auto;
}

body,
html {
	min-height: 100%;
	width: 100%;
}

.clear::after,
.clear::before {
	content: " ";
	display: table;
}

.clear::after {
	clear: both;
}

/* Main Styles */
body {
	position: relative;
	font-family: 'Museo Sans Rounded 100';
	font-weight: 200;
	font-style: normal;
	color: var(--grey);
}

.background-style {
	display: flex;
	justify-content: center;
	align-items: center;
	background-image: url(/images/mainbg.png);
	background-size: cover;
	/* max-width: 800px; */
	width: 100%;
	height: 100vh;
}

.container {
	background: #111a28;
	max-width: 785px;
	width: 1000%;
	border-radius: 10px;
	margin: 100px;
}

.logo {
	width: 10%;
	padding-top: 25px;
	padding-left: 20px;
	/* padding-bottom: 20px; */
}

.container__img {
	margin: 40px 75px 0 25px;
}

.container__img>img {
	margin-bottom: 65px;
}

.sizes {
	border-radius: 50%;
	width: 10px;
	height: 10px;
}

.colors {
	position: relative;
	width: 70px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 20px auto;
}

.colors__gray--active {
	background: #1f273f;
	border-radius: 50%;
	width: 12px;
	height: 12px;
	border: 1px solid grey;
}


.colors__white {
	background: white;
}

.colors__red {
	background: #ed3333;
}

.colors__cyan {
	background: #29e3ea;
}

.selection {
	border: 1px solid var(--grey);
	color: var(--grey);
	max-width: 70px;
	width: 100%;
	margin: 0 2px;
	padding: 10px;
}

.select {
	display: none;
}

.main {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	margin-left: 20px;
}

.info__select {
	position: relative;
}

.form {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	margin-bottom: 20px;
}

.info__title {
	font-size: 24px;
	margin-bottom: 15px;
	color: var(--white);
}

.info__sub-title {
	font-size: 14px;
	margin-bottom: 20px;
}

/* Stars */

.stars__rating {
	position: relative;
	display: flex;
	flex-direction: row;
	margin-bottom: 20px;
}

.icon {
	/* display: block; */
	width: 15px;
	height: 15px;
	fill: yellow;
}

.not-active {
	width: 15px;
	height: 15px;
	fill: grey;
}



/*  */
.container__info {
	max-width: 185px;
	width: 100%;
	margin: 0 auto;
}

.info__btn {
	padding: 15px;
	width: 100%;
	border: 1px solid var(--grey);
	background: #111a28;
	color: var(--grey);
	margin-bottom: 75px;
	font-size: 14px;
}

.info__btn:hover {
	background: #202835;
}